<% hidden_class = "text-pale" if question.hidden? %>
<%= content_tag :p, class: ["mb-sm", hidden_class] do %>
  <%= simple_format h(question.body) %>
<% end %>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= simple_format h(question.answer) %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>
  <div class="text-gray">
    <p class="mb text-sm text-grey">
      <% if question.author.nil?  %>
        <%= 'Question created by Anonymous' %>
      <% else %>
        <%= link_to "Question created by #{question.author.nickname}", user_path(question.author) %>
      <% end %>
    </p>
  </div>
  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question),
                  title: 'Change question', class: 'mr-sm' %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question),
                    method: :put,
                    title: 'Hide question' %>
      <% end %>
      <%= button_to fa_icon('trash-o'), question_path(question),
                    method: :delete, title: 'Delete question',
                    form: {data: {turbo_confirm: 'Are you sure you want do delete the question?'}}  %>
    </div>
  <% end %>
</div>
